* {
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  padding-top: 80px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 메인페이지 - 헤더 영역 */
header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 80px;
  z-index: 100;
}

header > ul {
  display: flex;
}

header ul li {
  width: 150px;
  margin-top: 30px;
}

header ul li:hover ul {
  display: block;
  animation: fadein 0.5s;
}

header ul li a:hover {
  font-weight: 1000;
}

header ul li ul li a:hover {
  font-weight: 1000;
}

header ul li ul {
  display: none;
}

.logo {
  width: 180px;
  height: 70px;
}

header > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

header span > label {
  padding: 0 10px;
}

header span > label:hover {
  font-weight: 1000;
}

.menu_input {
  padding: 10px;
}

.menu_btn {
  padding: 5px 10px;
  color: white;
  background-color: black;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

input[name="menu"],
input[name="login_menu"] {
  display: none;
}

.ham_menu {
  cursor: pointer;
}

.close {
  display: none;
}

.hamburger_menu {
  padding: 30px;
  width: 200px;
  z-index: 10000;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 80px;
  height: 100%;
}

.hamburger_menu {
  display: none;
}

#hamburgerLabel,
#closeLabel {
  display: none;
}

#hamburger:checked ~ .hamburger_menu {
  display: block;
  animation: fadein 0.5s;
}

#close:checked .hamburger_menu {
  display: none;
  animation: fadeout 0.5s;
}
#close:checked ~ #hamburgerLabel,
#hamburger:checked ~ #closeLabel {
  display: block;
  animation: fadein 0.5s;
}

/* 로그인&회원가입 모달 */
.modal {
  display: none;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
}

.modal_body {
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal label:hover {
  cursor: pointer;
}

.login_input {
  width: 300px;
  height: 50px;
  margin: 10px;
  border: solid black 1px;
  border-radius: 10px;
}

.check {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: black;
  border-radius: 10px;
  color: white;
}

input[id="login"]:checked ~ #loginModal,
input[id="register"]:checked ~ #registerModal {
  display: flex;
}

#check:checked ~ .modal {
  display: none;
}

/* 메인페이지 -> 비주얼 영역 */
.visual {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.slideimg {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  animation: slideAnimation 12s infinite linear;
  animation-play-state: running;
}

@keyframes slideAnimation {
  0%,
  20%,
  100% {
    background-image: url(/img/slide1.jpg);
  }

  25%,
  45% {
    background-image: url(/img/slide2.jpg);
  }

  50%,
  70% {
    background-image: url(/img/slide3.jpg);
  }

  75%,
  95% {
    background-image: url(/img/slide4.jpg);
  }
}

#play:checked ~ .slideimg {
  animation-play-state: running;
}

#stop:checked ~ .slideimg {
  animation-play-state: paused;
}

input[name="play&stop"],
#play:checked ~ #playLabel,
#stop:checked ~ #stopLabel {
  display: none;
}

/* 메인페이지 -> 경북Best5 영역 */
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

h2 {
  font-weight: 200;
  margin-bottom: 10px;
}

input[name="best5"] {
  display: none;
}

.best {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.best_img {
  width: 300px;
  height: 300px;
}

.best_label {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.overlay h6 {
  margin: 0;
  font-size: 20px;
}

.overlay p {
  margin: 10px 0 0;
  font-size: 14px;
}

.best_label:hover .overlay {
  opacity: 1;
}

.bestModal_img {
  width: 400px;
  height: 400px;
}

#대릉원:checked ~ #대릉원Modal,
#도산서원:checked ~ #도산서원Modal,
#울릉도:checked ~ #울릉도Modal,
#하회마을:checked ~ #하회마을Modal,
#호미곶:checked ~ #호미곶Modal {
  display: block;
  animation: fadein 0.5s;
}
#check:checked ~ #대릉원Modal {
  display: none;
}

#대릉원Modal > .modal_body,
#도산서원Modal > .modal_body,
#울릉도Modal > .modal_body,
#하회마을Modal > .modal_body,
#호미곶Modal > .modal_body {
  width: 500px;
}

/* 이달의 공연전시안내 영역 */
.month {
  display: flex;
  justify-content: center;
  text-align: center;
}

.month th,
.month td {
  padding: 20px;
  border-bottom: 1px solid black;
}

.month_img {
  width: 200px;
  height: 150px;
}

/* 경북관광갤러리 영역 */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.gallery_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cube-container {
  perspective: 1000px;
  margin: 0 50px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s;
}

.cube:hover {
  transform: rotateY(-270deg);
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
}

/* 스타일 추가 */
.front,
.back,
.right {
  background-size: cover;
  background-position: center;
}

#스페이스워크front {
  background-image: url("./공통제공파일/A모듈/갤러리/01_스페이스워크/01_스페이스워크.jpg");
}

#스페이스워크back {
  background-image: url("./공통제공파일/A모듈/갤러리/01_스페이스워크/02_스페이스워크.jpg");
}

#스페이스워크right {
  background-image: url("./공통제공파일/A모듈/갤러리/01_스페이스워크/03_스페이스워크.jpg");
}

#은어다리front {
  background-image: url("./공통제공파일/A모듈/갤러리/02_은어다리/01_은어다리.jpg");
}

#은어다리back {
  background-image: url("./공통제공파일/A모듈/갤러리/02_은어다리/02_은어다리.jpg");
}

#은어다리right {
  background-image: url("./공통제공파일/A모듈/갤러리/02_은어다리/03_은어다리.jpg");
}

#연화지front {
  background-image: url("./공통제공파일/A모듈/갤러리/03_연화지/01_연화지.jpg");
}

#연화지back {
  background-image: url("./공통제공파일/A모듈/갤러리/03_연화지/02_연화지.jpg");
}

#연화지right {
  background-image: url("./공통제공파일/A모듈/갤러리/03_연화지/03_연화지.jpg");
}

.left {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(179, 179, 179);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left h3 {
  font-size: 18px;
  font-weight: 400;
}

.left p {
  font-size: 12px;
  margin: 5px;
}

.left button {
  border: 0;
  margin-top: 7px;
  padding:  10px 60px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}